/* custom.css */
@font-face {
  font-family: 'UDEV Gothic';
  src: url('file:///usr/share/fonts/truetype/udev-gothic/UDEVGothic35-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UDEV Gothic';
  src: url('file:///usr/share/fonts/truetype/udev-gothic/UDEVGothic35-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UDEV Gothic';
  src: url('file:///usr/share/fonts/truetype/udev-gothic/UDEVGothic35-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'UDEV Gothic';
  src: url('file:///usr/share/fonts/truetype/udev-gothic/UDEVGothic35-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'UDEV Gothic', sans-serif;
}
